<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>hmall system</title>
<link href="__ROOT__/Public/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="__CSS__/core.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="__CSS__/print.css" rel="stylesheet" type="text/css" media="print"/>
<link href="__CSS__/uploadify.css" rel="stylesheet" type="text/css" media="screen"/>
<!--[if IE]>
<link href="themes/css/ieHack.css" rel="stylesheet" type="text/css" media="screen"/>
<![endif]-->

<!--[if lte IE 9]>
<script src="js/speedup.js" type="text/javascript"></script>
<![endif]-->

<script src="__JS__/dwz/jquery-1.7.2.js" type="text/javascript"></script>
<script src="__JS__/dwz/jquery.cookie.js" type="text/javascript"></script>
<script src="__JS__/dwz/jquery.validate.js" type="text/javascript"></script>
<script src="__JS__/dwz/jquery.bgiframe.js" type="text/javascript"></script>
<script src="__STATIC__/xheditor/xheditor-1.2.1.min.js" type="text/javascript"></script>
<script src="__STATIC__/xheditor/xheditor_lang/zh-cn.js" type="text/javascript"></script>
<script src="__STATIC__/uploadify/scripts/jquery.uploadify.js" type="text/javascript"></script>

<!-- svg图表  supports Firefox 3.0+, Safari 3.0+, Chrome 5.0+, Opera 9.5+ and Internet Explorer 6.0+ -->
<script type="text/javascript" src="__JS__/chart/raphael.js"></script>
<script type="text/javascript" src="__JS__/chart/g.raphael.js"></script>
<script type="text/javascript" src="__JS__/chart/g.bar.js"></script>
<script type="text/javascript" src="__JS__/chart/g.line.js"></script>
<script type="text/javascript" src="__JS__/chart/g.pie.js"></script>
<script type="text/javascript" src="__JS__/chart/g.dot.js"></script>

<script src="__JS__/dwz/dwz.core.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.util.date.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.validate.method.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.barDrag.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.drag.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.tree.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.accordion.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.ui.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.theme.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.switchEnv.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.alertMsg.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.contextmenu.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.navTab.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.tab.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.resize.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.dialog.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.dialogDrag.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.sortDrag.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.cssTable.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.stable.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.taskBar.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.ajax.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.pagination.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.database.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.datepicker.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.effects.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.panel.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.checkbox.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.history.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.combox.js" type="text/javascript"></script>
<script src="__JS__/dwz/dwz.print.js" type="text/javascript"></script>
<script src="__JS__/dwz/hong.common.js" type="text/javascript"></script>
<!-- 可以用dwz.min.js替换前面全部dwz.*.js (注意：替换是下面dwz.regional.zh.js还需要引入)
<script src="bin/dwz.min.js" type="text/javascript"></script>
-->
<script src="__JS__/dwz/dwz.regional.zh.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
	DWZ.init("__STATIC__/dwz.frag.xml", {
		loginUrl:"", loginTitle:"登录",	// 弹出登录对话框
//		loginUrl:"login.html",	// 跳到登录页面
		statusCode:{ok:200, error:300, timeout:301}, //【可选】
		pageInfo:{pageNum:"pageNum", numPerPage:"numPerPage", orderField:"orderField", orderDirection:"orderDirection"}, //【可选】
		keys: {statusCode:"statusCode", message:"message"}, //【可选】
		ui:{hideMode:'offsets'}, //【可选】hideMode:navTab组件切换的隐藏方式，支持的值有’display’，’offsets’负数偏移位置的值，默认值为’display’
		debug:false,	// 调试模式 【true|false】
		callback:function(){
			initEnv();
			$("#themeList").theme({themeBase:"themes"}); // themeBase 相对于index页面的主题base路径
		}
	});
});
function testConfirmMsg(text, url){
	alertMsg.error(text, {
		okCall: function(){
			window.location.href=url;
		}
	});
}
</script>
</head>

<body scroll="no">
	<div id="layout">
		<div id="header">
			<div class="headerNav">
				<a class="logo" href="http://j-ui.com">标志</a>
				<ul class="nav">
				    <li><a href="javascript:"></a></li>
					<li><a href="https://me.alipay.com/dwzteam" target="_blank">消息（0）</a></li>
					<li><a href="?r=site/logout">退出</a></li>
				</ul>
		    </div>

			<!-- navMenu -->
			
		</div>

		<div id="leftside">
			<div id="sidebar_s">
				<div class="collapse">
					<div class="toggleCollapse"><div></div></div>
				</div>
			</div>
			<div id="sidebar">
				<div class="toggleCollapse"><h2>主菜单</h2><div>收缩</div></div>

				<div class="accordion" fillSpace="sidebar">
				    <div class="accordionHeader">
						<h2><span>Folder</span>后台用户管理</h2>
					</div>
					<div class="accordionContent">
						<ul class="tree treeFolder">
							<li><a href="tabsPage.html" target="navTab">后台用户列表</a>
								<ul>
									<li><a href="{:U('admin/index')}" target="navTab" rel="main">全部用户</a></li>
									<li><a href="{:U('admin/index',array('s'=>'admin'))}" target="navTab" rel="main">主管理员</a></li>
									<li><a href="{:U('admin/index',array('s'=>'editor'))}" target="navTab" rel="main">编辑用户</a></li>
									<li><a href="{:U('admin/index',array('s'=>'finance'))}" target="navTab" rel="main">财务用户</a></li>
									<li><a href="{:U('admin/index',array('s'=>'service'))}" target="navTab" rel="main">客服用户</a></li>
								</ul>
							</li>
							
							<li><a href="{:U('admin/add')}" target="navTab" rel="w_validation">添加后台用户</a></li>
									
							<li><a href="?r=adminstyle/index" target="navTab" rel="w_validation">后台用户类型</a></li>
						</ul>
					</div>
					<div class="accordionHeader">
						<h2><span>Folder</span>文章管理</h2>
					</div>
					<div class="accordionContent">
						<ul class="tree treeFolder">
							<li><a href="?r=article/index" target="navTab" rel="main">文章列表</a></li>
							<li><a href="?r=article/add" target="navTab" rel="w_validation">添加文章</a></li>									
							<li><a href="?r=articleclass/index" target="navTab" rel="w_validation">文章分类</a></li>
							<li><a href="?r=articleclass/add" target="navTab" rel="w_validation">添加文章分类</a></li>
						</ul>
					</div>
					<div class="accordionHeader">
						<h2><span>Folder</span>会员管理</h2>
					</div>
					<div class="accordionContent">
						<ul class="tree treeFolder">
							<li><a href="tabsPage.html" target="navTab">会员列表</a>
								<ul>
									<li><a href="?r=member/index" target="navTab" rel="main">全部会员</a></li>
									<li><a href="?r=member/index&s=vip" target="navTab" rel="main">VIP会员</a></li>
									<li><a href="?r=member/index&s=block" target="navTab" rel="main">屏蔽的会员</a></li>
								</ul>
							</li>
							
							<li><a href="?r=member/add" target="navTab" rel="w_validation">添加会员</a></li>
						</ul>
					</div>
					<div class="accordionHeader">
						<h2><span>Folder</span>店铺管理</h2>
					</div>
					<div class="accordionContent">
						<ul class="tree treeFolder">
							<li><a href="tabsPage.html" target="navTab">店铺</a>
								<ul>
									<li><a href="?r=store/index" target="navTab" rel="main">全部店铺</a></li>
									<li><a href="?r=store/index&s=close" target="navTab" rel="main">关闭的店铺</a></li>
							        <li><a href="?r=store/add" target="navTab" rel="main">添加店铺</a></li>
								</ul>
							</li>
							
							<li><a href="tabsPage.html" target="navTab">店铺等级</a>
								<ul>
									<li><a href="?r=storegrade/index" target="navTab" rel="main">店铺等级列表</a></li>
									<li><a href="?r=storegrade/add" target="navTab" rel="main">添加店铺等级</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="accordionHeader">
						<h2><span>Folder</span>商品管理</h2>
					</div>
					<div class="accordionContent">
						<ul class="tree treeFolder">
							<li><a href="tabsPage.html" target="navTab">商品列表</a>
								<ul>
									<li><a href="?r=goods/index" target="navTab" rel="main">全部商品</a></li>
									<li><a href="?r=goods/index&s=notshow" target="navTab" rel="main">下架的商品</a></li>
									<li><a href="?r=goods/index&s=runout" target="navTab" rel="main">断货的商品</a></li>
								</ul>
							</li>
							
							<li><a href="?r=goods/add" target="navTab" rel="w_validation">添加商品</a></li>
							<li><a href="?r=goodsclass/index" target="navTab" rel="w_validation">商品分类</a></li>
							<li><a href="?r=goodsclass/add" target="navTab" rel="w_validation">添加商品分类</a></li>
							<li><a href="?r=goodstype/index" target="navTab" rel="w_validation">商品类型</a></li>
							<li><a href="?r=goodstype/add" target="navTab" rel="w_validation">添加商品类型</a></li>
							<li><a href="?r=goodsspec/index" target="navTab" rel="w_validation">商品规格</a></li>
							<li><a href="?r=goodsspec/add" target="navTab" rel="w_validation">添加商品规格</a></li>
							<li><a href="?r=goodsbrand/index" target="navTab" rel="w_validation">商品品牌</a></li>
							<li><a href="?r=goodsbrand/add" target="navTab" rel="w_validation">添加商品品牌</a></li>
							<li><a href="?r=goodsattr/index" target="navTab" rel="w_validation">商品属性</a></li>
							<li><a href="?r=goodsattr/add" target="navTab" rel="w_validation">添加商品属性</a></li>
						</ul>
					</div>
					<div class="accordionHeader">
						<h2><span>Folder</span>系统管理</h2>
					</div>
					<div class="accordionContent">
						<ul class="tree treeFolder">
							<li><a href="?r=setting/index" target="navTab" rel="main">站点管理</a></li>
							<li><a href="?r=setting/email" target="navTab" rel="w_validation">邮件设置</a></li>
							<li><a href="tabsPage.html" target="navTab">SEO设置</a>
								<ul>
									<li><a href="?setting/seo" target="navTab" rel="main">首页</a></li>
									<li><a href="?setting/seo" target="navTab" rel="main">文章</a></li>
									<li><a href="?setting/seo" target="navTab" rel="main">列表</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="accordionHeader">
						<h2><span>Folder</span>界面组件</h2>
					</div>
					<div class="accordionContent">
						<ul class="tree treeFolder">
							<li><a href="tabsPage.html" target="navTab">主框架面板</a>
								<ul>
									<li><a href="main.html" target="navTab" rel="main">我的主页</a></li>
									<li><a href="http://www.baidu.com" target="navTab" rel="page1">页面一(外部页面)</a></li>
									<li><a href="demo_page2.html" target="navTab" rel="external" external="true">iframe navTab页面</a></li>
									<li><a href="demo_page1.html" target="navTab" rel="page1" fresh="false">替换页面一</a></li>
									<li><a href="demo_page2.html" target="navTab" rel="page2">页面二</a></li>
									<li><a href="demo_page4.html" target="navTab" rel="page3" title="页面三（自定义标签名）">页面三</a></li>
									<li><a href="demo_page4.html" target="navTab" rel="page4" fresh="false">测试页面（fresh="false"）</a></li>
									<li><a href="w_editor.html" target="navTab">表单提交会话超时</a></li>
									<li><a href="demo/common/ajaxTimeout.html" target="navTab">navTab会话超时</a></li>
									<li><a href="demo/common/ajaxTimeout.html" target="dialog">dialog会话超时</a></li>
									<li><a href="index_menu.html" target="_blank">横向导航条</a></li>
								</ul>
							</li>
							
							<li><a>常用组件</a>
								<ul>
									<li><a href="w_panel.html" target="navTab" rel="w_panel">面板</a></li>
									<li><a href="w_tabs.html" target="navTab" rel="w_tabs">选项卡面板</a></li>
									<li><a href="w_dialog.html" target="navTab" rel="w_dialog">弹出窗口</a></li>
									<li><a href="w_alert.html" target="navTab" rel="w_alert">提示窗口</a></li>
									<li><a href="w_list.html" target="navTab" rel="w_list">CSS表格容器</a></li>
									<li><a href="demo_page1.html" target="navTab" rel="w_table">表格容器</a></li>
									<li><a href="w_removeSelected.html" target="navTab" rel="w_table">表格数据库排序+批量删除</a></li>
									<li><a href="w_tree.html" target="navTab" rel="w_tree">树形菜单</a></li>
									<li><a href="w_accordion.html" target="navTab" rel="w_accordion">滑动菜单</a></li>
									<li><a href="w_editor.html" target="navTab" rel="w_editor">编辑器</a></li>
									<li><a href="w_datepicker.html" target="navTab" rel="w_datepicker">日期控件</a></li>
									<li><a href="demo/database/db_widget.html" target="navTab" rel="db">suggest+lookup+主从结构</a></li>
									<li><a href="demo/database/treeBringBack.html" target="navTab" rel="db">tree查找带回</a></li>
									<li><a href="demo/sortDrag/1.html" target="navTab" rel="sortDrag">单个sortDrag示例</a></li>
									<li><a href="demo/sortDrag/2.html" target="navTab" rel="sortDrag">多个sortDrag示例</a></li>
									<li><a href="demo/sortDrag/form.html" target="navTab" rel="sortDrag">可拖动表单示例</a></li>
								</ul>
							</li>
									
							<li><a>表单组件</a>
								<ul>
									<li><a href="w_validation.html" target="navTab" rel="w_validation">表单验证</a></li>
									<li><a href="w_button.html" target="navTab" rel="w_button">按钮</a></li>
									<li><a href="w_textInput.html" target="navTab" rel="w_textInput">文本框/文本域</a></li>
									<li><a href="w_combox.html" target="navTab" rel="w_combox">下拉菜单</a></li>
									<li><a href="w_checkbox.html" target="navTab" rel="w_checkbox">多选框/单选框</a></li>
									<li><a href="demo_upload.html" target="navTab" rel="demo_upload">iframeCallback表单提交</a></li>
									<li><a href="w_uploadify.html" target="navTab" rel="w_uploadify">uploadify多文件上传</a></li>
								</ul>
							</li>
							<li><a>组合应用</a>
								<ul>
									<li><a href="demo/pagination/layout1.html" target="navTab" rel="pagination1">局部刷新分页1</a></li>
									<li><a href="demo/pagination/layout2.html" target="navTab" rel="pagination2">局部刷新分页2</a></li>
								</ul>
							</li>
							<li><a>图表</a>
								<ul>
									<li><a href="chart/test/barchart.html" target="navTab" rel="chart">柱状图(垂直)</a></li>
									<li><a href="chart/test/hbarchart.html" target="navTab" rel="chart">柱状图(水平)</a></li>
									<li><a href="chart/test/linechart.html" target="navTab" rel="chart">折线图</a></li>
									<li><a href="chart/test/linechart2.html" target="navTab" rel="chart">曲线图</a></li>
									<li><a href="chart/test/linechart3.html" target="navTab" rel="chart">曲线图(自定义X坐标)</a></li>
									<li><a href="chart/test/piechart.html" target="navTab" rel="chart">饼图</a></li>
								</ul>
							</li>
							<li><a href="__STATIC__/dwz.frag.xml" target="navTab" external="true">dwz.frag.xml</a></li>
						</ul>
					</div>
					<div class="accordionHeader">
						<h2><span>Folder</span>典型页面</h2>
					</div>
					<div class="accordionContent">
						<ul class="tree treeFolder treeCheck">
							<li><a href="demo_page1.html" target="navTab" rel="demo_page1">查询我的客户</a></li>
							<li><a href="demo_page1.html" target="navTab" rel="demo_page2">表单查询页面</a></li>
							<li><a href="demo_page4.html" target="navTab" rel="demo_page4">表单录入页面</a></li>
							<li><a href="demo_page5.html" target="navTab" rel="demo_page5">有文本输入的表单</a></li>
							<li><a href="javascript:;">有提示的表单输入页面</a>
								<ul>
									<li><a href="javascript:;">页面一</a></li>
									<li><a href="javascript:;">页面二</a></li>
								</ul>
							</li>
							<li><a href="javascript:;">选项卡和图形的页面</a>
								<ul>
									<li><a href="javascript:;">页面一</a></li>
									<li><a href="javascript:;">页面二</a></li>
								</ul>
							</li>
							<li><a href="javascript:;">选项卡和图形切换的页面</a></li>
							<li><a href="javascript:;">左右两个互动的页面</a></li>
							<li><a href="javascript:;">列表输入的页面</a></li>
							<li><a href="javascript:;">双层栏目列表的页面</a></li>
						</ul>
					</div>
					<div class="accordionHeader">
						<h2><span>Folder</span>流程演示</h2>
					</div>
					<div class="accordionContent">
						<ul class="tree">
							<li><a href="newPage1.html" target="dialog" rel="dlg_page">列表</a></li>
							<li><a href="newPage1.html" target="dialog" rel="dlg_page2">列表</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="container">
			<div id="navTab" class="tabsPage">
				<div class="tabsPageHeader">
					<div class="tabsPageHeaderContent"><!-- 显示左右控制时添加 class="tabsPageHeaderMargin" -->
						<ul class="navTab-tab">
							<li tabid="main" class="main"><a href="javascript:;"><span><span class="home_icon">我的主页</span></span></a></li>
						</ul>
					</div>
					<div class="tabsLeft">left</div><!-- 禁用只需要添加一个样式 class="tabsLeft tabsLeftDisabled" -->
					<div class="tabsRight">right</div><!-- 禁用只需要添加一个样式 class="tabsRight tabsRightDisabled" -->
					<div class="tabsMore">more</div>
				</div>
				<ul class="tabsMoreList">
					<li><a href="javascript:;">我的主页</a></li>
				</ul>
				<div class="navTab-panel tabsPageContent layoutBox">