	<div id="faq">
	  <div class="faq-wrapper">
	    <ul>
	           <li> <dl class="s1">
	      <dt>
	        帮助中心      </dt>
	                  <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=10" title="查看已购买商品"> 查看已购买商品 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=7" title="如何搜索"> 如何搜索 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=40" title="积分兑换说明"> 积分兑换说明 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=9" title="我要买"> 我要买 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=6" title="如何注册成为会员"> 如何注册成为会员 </a></dd>
	                </dl></li>
	               <li> <dl class="s2">
	      <dt>
	        店主之家      </dt>
	                  <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=13" title="如何发货"> 如何发货 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=15" title="如何申请开店"> 如何申请开店 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=12" title="查看售出商品"> 查看售出商品 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=14" title="商城商品推荐"> 商城商品推荐 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=11" title="如何管理店铺"> 如何管理店铺 </a></dd>
	                </dl></li>
	               <li> <dl class="s3">
	      <dt>
	        支付方式      </dt>
	                  <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=16" title="如何注册支付宝"> 如何注册支付宝 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=28" title="分期付款"> 分期付款 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=30" title="公司转账"> 公司转账 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=17" title="在线支付"> 在线支付 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=29" title="邮局汇款"> 邮局汇款 </a></dd>
	                </dl></li>
	               <li> <dl class="s4">
	      <dt>
	        售后服务      </dt>
	                  <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=33" title="返修/退换货"> 返修/退换货 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=26" title="联系卖家"> 联系卖家 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=32" title="退换货流程"> 退换货流程 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=34" title="退款申请"> 退款申请 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=31" title="退换货政策"> 退换货政策 </a></dd>
	                </dl></li>
	               <li> <dl class="s5">
	      <dt>
	        客服中心      </dt>
	                  <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=21" title="修改收货地址"> 修改收货地址 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=18" title="会员修改密码"> 会员修改密码 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=20" title="商品发布"> 商品发布 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=19" title="会员修改个人资料"> 会员修改个人资料 </a></dd>
	                </dl></li>
	               <li> <dl class="s6">
	      <dt>
	        关于我们      </dt>
	                  <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=24" title="招聘英才"> 招聘英才 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=23" title="联系我们"> 联系我们 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=25" title="合作及洽谈"> 合作及洽谈 </a></dd>
	            <dd><i></i><a href="http://192.168.0.110/b2b2c/shop/index.php?act=article&amp;op=show&amp;article_id=22" title="关于我们"> 关于我们 </a></dd>
	                </dl></li>
	        	    	
		</ul>	
	<div class="help">
			<div class="w1190 clearfix">
	    		<div class="contact f-l">
	    			<div class="contact-border clearfix">
	        			<span class="ic tel t20">188-5978-9699</span>
	        			<span class="ic mail"></span>
	        			<div class="attention cleafix">
	        				<div class="weixin f-l">						
	    <img src="__IMG__/common/shop/04951943379528830.png" class="f-l jImg img-error">
		   					<p class="f-l">
	        						<span>扫一扫</span>
	        						<span>关注我们</span>
	        					</p>
	        				</div>
	        				<div class="weibo f-l">
	        					<div class="ic qq" style="padding-left: 0px;"><ul><li><a target="_blank">腾讯微博</a></li></ul></div>
	        					<div class="ic sina" style="padding-left: 0px;"><ul><li><a target="_blank">新浪微博</a></li></ul></div>
	        				</div>
	        			</div>
	    			</div>
	    		</div>
			</div>
		</div>			
	      </div>
	</div>
	<div id="footer" class="wrapper">
	  <p><a href="http://192.168.0.110/b2b2c/shop">首页</a>
	                | <a href="/shop/index.php?act=article&amp;article_id=24">招聘英才</a>
	                | <a href="/shop/index.php?act=article&amp;article_id=25">合作及洽谈</a>
	                | <a href="/shop/index.php?act=article&amp;article_id=23">联系我们</a>
	                | <a href="/shop/index.php?act=article&amp;article_id=22">关于我们</a>
	                        | <a href="/shop/index.php?act=link">友情链接</a>
	                              </p>
	  Copyright 2015 <br>
	   </div>
 	</body>
 </html>